:root {
  --header-family: 'Signika', sans-serif;
  --library-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  --container-padding: 20px;
}

/* fonts */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/MaterialIcons-Regular.ttf)
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Signika';
  src: url(./assets/Signika-VariableFont_wght.ttf);
}


/* resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

/**/

body {
  width: 100vw;
  height: 100vh;
}

.header {
  box-shadow: 0px 2px 3px  rgba(0, 0, 0, 0.25);
}

.header-container, .library {
  max-width: 1200px;

  padding: var(--container-padding);
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  font-family: var(--header-family);
  font-size: 36px;
  font-weight: 600;
}

.library {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-book {
  font-family: var(--header-family);
  font-size: 32px;
  font-weight: 400;
  
  padding: 4px 16px;
  border-radius: 6px;

  background-color: lightgrey;
}

#new-book:hover {
  background-color: #b3b3b3;
}

table {
  width: 100%;
}

